<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userClient" class="com.ace.trade.common.client.RestClientProxy">
        <property name="clz" value="com.ace.trade.common.api.IUserApi"></property>
        <property name="serverEnum" value="USERS"></property>
    </bean>
</beans>